*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.square{
  width: 52px;
  height: 52px;
  float: left;
  margin: -0.5px -0.5px;
  border: 1px solid #666;
  background: none;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 52px;
  cursor: pointer;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.status{
  margin: 8px 0;
  font-size: 24px;
  font-weight: bold;
}